* {
    background-color: bisque;
}
p { color: rgba(247, 0, 0, 0.836); }

table, tr, th, td {border:1px solid rgba(9, 26, 122, 0.952); border-collapse:collapse; padding:5px;}

h1#titulo { color: teal; }
